<footer class="small padded">
    <button onclick="changeTheme()">
        <span class="subtle">Theme:</span> <i class="sun" id="themeIcon"></i> <strong id="themeLabel">auto</strong>
    </button>
</footer>

<script>
    function setTheme(theme) {
        const body = document.body;
        const icon = document.getElementById("themeIcon");
        const label = document.getElementById("themeLabel");
        switch (theme) {
            case "light":
                body.classList.remove("theme-dark");
                body.classList.add("theme-light");
                icon.classList.remove("moon", "eclipse");
                icon.classList.add("sun");
                label.innerText = "light";
                break;
            case "dark":
                body.classList.remove("theme-light");
                body.classList.add("theme-dark");
                icon.classList.remove("sun", "eclipse");
                icon.classList.add("moon");
                label.innerText = "dark";
                break;
            default:
                body.classList.remove("theme-light");
                body.classList.remove("theme-dark");
                icon.classList.remove("moon", "sun");
                icon.classList.add("eclipse");
                label.innerText = "auto";
                break;
        }

        localStorage.setItem("theme", theme);
    }

    function changeTheme() {
        const isLight = document.body.classList.contains("theme-light");
        const isDark = document.body.classList.contains("theme-dark");

        if (isDark) {
            setTheme("light");
        } else if (isLight) {
            setTheme("auto");
        } else {
            setTheme("dark");
        }
    }

    window.addEventListener("load", () => {
        const theme = localStorage.getItem("theme");
        setTheme(theme);
    });
</script>
