<header class="double-padded center-aligning spacing wrapping horizontal layout top-header">
    <a href="/" class="unstyled center-aligning spacing horizontal layout">
        <img src="/assets/img/logo-light.svg" style="height: 2.5em" alt="Padloc Logo" />
        <span class="small semibold subtle">Docs & Resources</span>
    </a>

    <div class="stretch"></div>

    <div class="small">{% include "components/search.njk" %}</div>
</header>
