{% set navPages = collections.all | eleventyNavigation("/manual") %}<!-- -->

{% macro renderTOCItem(item) -%}<!-- -->
<li class="vertically-half-margined">
    <a href="#{{ item.id }}" class="padded rounded block hover-bg">
        <span>
            {{ item.title }}
        </span>
    </a>

    {%- if item.children.length -%}
    <ul class="small left-margined left-padded">
        {%- for child in item.children %}{{
            renderTOCItem(child)
        }}
        {% endfor -%}
    </ul>
    {% endif %}
</li>
{%- endmacro %}<!-- -->

{% macro renderNavListItem(entry) -%}<!-- -->

{% set isActive = page.url | startsWith(entry.url) %}

<li class="vertically-half-margined">
    <a
        aria-current="{% if entry.url == page.url %}page{% else %}false{% endif %}"
        href="{{ entry.url | url }}"
        class="padded rounded block hover-bg"
    >
        <i class="{{ entry.icon or 'scroll' }}"></i>
        <span>
            {{ entry.title }}
        </span>
    </a>

    <div role="none" {% if not isActive %}hidden{% endif %} class="left-margined">
        {%- if entry.children.length -%}
        <ul class="small left-margined left-padded">
            {%- for child in entry.children %}
            {{
                renderNavListItem(child)
            }}
            {% endfor -%}
        </ul>
        {%- else -%}<!-- -->
        <ul class="small left-margined left-padded">
            {% for item in (content | toc) %}
            {{
                renderTOCItem(item)
            }}
            {% endfor -%}<!-- -->
        </ul>
        {%- endif -%}
    </div>
</li>
{%- endmacro %}

<ul>
    {%- for entry in navPages %}{{
        renderNavListItem(entry)
    }}
    {%- endfor -%}
</ul>
