---
layout: layouts/base.njk
---

<div class="vertical layout fill-vertically">
    <main class="double-padded centering vertical layout stretch">
        <div class="fit-horizontally animation-reveal-children animation-fast">
            <header class="double-margined centering vertical layout" style="grid-column: -1/1">
                <img src="/assets/img/logo-light.svg" class="logo" alt="Padloc Logo" />
                <div class="logo-subtitle">{{ title }}</div>
                {% include "components/search.njk" %}
            </header>

            {% include "components/sections.njk" %}
        </div>
    </main>

    {% include "components/footer.njk" %}
</div>
