---
layout: layouts/base.njk
---

<div class="main-layout">
    {% include "components/header.njk" %}<!-- -->

    {% include "components/side-nav.njk" %}<!-- -->

    <main class="animation-reveal-children">
        {% include "components/breadcrumbs.njk" %}
        <article>
            <h1>
                <i class="{{ icon }}"> </i>
                {{ title }}
            </h1>
            {{ content | safe }}
        </article>

        {% set prev = collections.all | eleventyNavigation(eleventyNavigation.parent) | prevInSection %}<!-- -->
        {% set next = collections.all | eleventyNavigation(eleventyNavigation.parent) | nextInSection %}<!-- -->

        <div class="spacer"></div>

        <div class="double-margined prev-next double-spacing grid">
            <div>
                {% if prev %}
                <a href="{{ prev.url }}" class="unstyled fill">
                    <div class="small subtle horizontally-padded text-left-aligning bottom-margined">
                        <i class="arrow-left"></i> Previous Article
                    </div>
                    <h2><i class="{{ prev.icon }}"></i> {{ prev.title }}</h2>
                    <div class="small description top-margined">{{ prev.description }}</div>
                </a>
                {% endif %}
            </div>
            <div>
                {% if next %}
                <a href="{{ next.url }}" class="unstyled fill">
                    <div class="small subtle horizontally-padded text-right-aligning bottom-margined">
                        Next Article <i class="arrow-right"></i>
                    </div>
                    <h2><i class="{{ next.icon }}"></i> {{ next.title }}</h2>
                    <div class="small description top-margined">{{ next.description }}</div>
                </a>
                {% endif %}
            </div>
        </div>

        {# {% set children = collections.all | eleventyNavigation(eleventyNavigation.key) %}<!-- -->

        {% if children.length %}
        <ul class="unstyled child-pages double-spacing grid">
            {% for item in children %}
            <li>
                <a
                    href="{{ item.url }}"
                    class="unstyled text-centering fill rounded double-padded centering vertical layout"
                >
                    <i class="huge {{ item.icon }}"></i>
                    <div class="top-margined">{{ item.title }}</div>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %} #}
    </main>

    {% include "components/footer.njk" %}
</div>
